/* GLOBAL STYLE SETTINGS */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    height: 100%;
    min-width: 480px;
    min-height: max-content;
}

header {
    border: 1px solid black;
    width: 100%;
    height: auto;
    display: flex;
    margin: auto auto 2% auto;
    padding: 1.5%;
    /* background-color: rgb(216, 216, 216);
    opacity: 0.5; */
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#name {
    margin: 0;
    padding-bottom: 1.5%;
    color: #000;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    width: 100%;
    color: #000;
    padding: 1.5%;
}

nav a:hover {
    background-color: #fff;
    text-decoration: none;
    border-radius: 25px;
}

/* HOMEPAGE STYLES */
.welcome {
    border: 1px solid black;
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    /* color: #fff; */
    justify-content: center;
    align-items: center;
    align-content: center;
    /* background-image: url('../img/html-code.jpg');
    background-size: 100%;
    background-repeat: no-repeat; */
}

/* .welcome article {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
} */

a.btn {
    margin: 2%;
    padding: 2%;
    font-weight: bold;
}

/* EDUCATION & EXPERIENCES PAGES STYLES */

/* PROJECTS PAGE STYLES */

/* ABOUT PAGE STYLES */

.bio {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.bio h1 {
    width: 100%;
    height: auto;
    margin: 3% auto;
    text-align: center;
}

.bio article p {
    width: 85%;
    height: auto;
    margin: auto;
}

.languages {
    width: auto;
    height: 100%;
    margin: 4% auto;
    text-align: center;
}


/* CONTACTS PAGE STYLES */


/* GLOBAL STYLE SETTINGS */
footer {
    border: 1px solid black;
    width: 100%;
    height: auto;
    /* position: fixed;
    bottom: 0; */
    background-color: #fff;
    opacity: 0.8;
    color: #000;
    font-weight: bold;
    text-align: center;
}

footer p,
footer h4 {
    margin: 0;
}

footer h4 {
    padding-bottom: 1.5%;
}

.social-media {
    width: 100%;
    height: auto;
}

.fa-github,
.fa-linkedin,
.fa-envelope,
.fa-facebook {
    margin: auto 2.5%;
    text-decoration: none;
}

.prog-language {
    margin: 2.5%;
}

/* GLOBAL MEDIA QUERIES */

@media only screen and (max-width: 480px) {
    nav {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        align-content: space-between;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    nav a {
        width: 100%;
        height: auto;
        margin: 3.5% auto;
    }

    /* .welcome {
        width: 100%;
        height: 200px;
        top: 10em;
    } */

}

@media only screen and (min-width: 1000px) and (min-height: 720px) {
    /* .welcome {
        width: 100%;
        height: 609px;
        position: relative;
        top: 14em;
    } */
}