* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    min-width: 480px;
    min-height: max-content;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #fff;
    opacity: 0.8;
    color: #000;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#name {
    margin: 0;
    padding: 2%;
    color: #000;
    text-decoration: none;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
}

nav a {
    width: 100%;
    color: #000;
    text-decoration: none;
    margin: 2%;
    padding: 1.5%;
}

nav a:hover {
    background-color: #808080;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
}

.welcome {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    top: 16em;
    text-align: center;
    color: #fff;
    justify-content: center;
    align-items: center;
    align-content: center;
}

a.btn {
    margin: 2%;
    padding: 2%;
    font-weight: bold;
}

footer {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    opacity: 0.8;
    color: #000;
    font-weight: bold;
    text-align: center;
}

footer p,
footer h4 {
    margin: 0;
}

footer h4 {
    padding-bottom: 1.5%;
}

.social-media {
    width: 100%;
    height: auto;
}

.fa-github,
.fa-linkedin,
.fa-envelope,
.fa-facebook {
    margin: auto 2.5%;
    text-decoration: none;
}

/* @media only screen and (min-width: 720px) {
    .welcome {
        top: 16em;
    }
} */

@media only screen and (max-width: 720px) {
    nav {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        align-content: space-between;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    nav a {
        width: 100%;
        height: auto;
        margin: 3.5% auto;
    }

    .welcome {
        width: 100%;
        height: auto;
        top: 12em;
    }
}