/* GLOBAL STYLE SETTINGS */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    height: 100%;
    min-width: 480px;
    min-height: max-content;
}

.bg-img-1,
.bg-img-2 {
    min-height: 300px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
    font-weight: bold;
    opacity: 0.65;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.bg-img-1 {
    background-image: url('../img/html-code.jpg');
}

.bg-img-2 {
    background-image: url('../img/setup-1.jpg');
}

#name {
    margin: 0;
    padding-bottom: 1.5%;
    color: #000;
    text-align: center;
}

nav {
    width: 100%;
    height: auto;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    width: 100%;
    color: #fff;
    padding: 1.5%;
}

nav a:hover {
    background-color: #fff;
    text-decoration: none;
    border-radius: 25px;
}

/* HOMEPAGE STYLES */
a.btn {
    padding: 2%;
    font-weight: bold;
}

/* EDUCATION PAGE STYLES */
#education {
    width: 80%;
    height: 100%;
    margin: 2% auto;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

/* EXPERIENCES PAGE STYLES */
.bookmarks {
    margin: 3% auto;
    text-align: center;
}

.bookmarks p {
    margin: 0;
}

#work-experiences, #volunteer-experiences {
    width: 80%;
    height: 100%;
    margin: 2% auto;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.desc {
    padding-left: 2.5%;
}

/* EDUCATION & EXPERIENCES PAGES SHARED STYLES */
.event {
    padding: 2%;
}

.location {
    font-style: italic;
}

/* PROJECTS PAGE STYLES */
.projects {
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 2% 5%;
}

/* ABOUT PAGE STYLES */
.bio {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.bio h1 {
    width: 100%;
    height: auto;
    margin: 3% auto;
    text-align: center;
}

.bio article p {
    width: 85%;
    height: auto;
    margin: auto;
    font-size: 1.3em;
}

.languages {
    width: auto;
    height: 100%;
    margin: 4% auto;
    text-align: center;
}

.prog-language {
    margin: 2.5%;
}

/* CONTACTS PAGE STYLES */


/* GLOBAL STYLE SETTINGS */
footer {
    width: 100%;
    height: auto;
    /* position: fixed;
    bottom: 0; */
    margin: 3% auto;
    background-color: #fff;
    opacity: 0.8;
    color: #000;
    font-weight: bold;
    text-align: center;
}

footer p,
footer h4 {
    margin: 0;
}

footer h4 {
    padding-bottom: 1.5%;
}

.social-media {
    width: 100%;
    height: auto;
}

.fa-github,
.fa-linkedin,
.fa-envelope,
.fa-facebook {
    margin: auto 2.5%;
    text-decoration: none;
}

/* GLOBAL MEDIA QUERIES */

@media only screen and (max-width: 480px) {
    nav {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        align-content: space-between;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    nav a {
        width: 100%;
        height: auto;
        margin: 3.5% auto;
    }

    /* .welcome {
        width: 100%;
        height: 200px;
        top: 10em;
    } */

}

@media only screen and (min-width: 1000px) and (min-height: 720px) {
    /* .welcome {
        width: 100%;
        height: 609px;
        position: relative;
        top: 14em;
    } */
}